@model Best_Moments.Models.UserProfile
@RenderPage("/Views/Shared/_Setting.cshtml")

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<style>
.SettingForm 
{
margin:25px;
margin-left:auto;
margin-right:auto;
max-width: 500px;
background: #FFF;
padding: 30px 30px 20px 30px;
box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
-webkit-box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
font: 12px Arial, Helvetica, sans-serif;
color: #666;
border-radius: 10px;
-webkit-border-radius: 10px;
}
.SettingForm h1 
{
font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
padding: 0px 0px 10px 40px;
display: block;
border-bottom: 1px solid #F5F5F5;
margin: -10px -30px 10px -30px;
color: #969696;
}

.SettingForm .TXT{
    color: #555;
    width: 70%;
    padding: 3px 0px 3px 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    height: 25px;
    line-height:15px;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}
.SettingForm .DDL {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   -webkit-appearance:none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    width: 70%;
    line-height: 15px;
    height: 30px;
}
</style>
<div class="SettingForm">
    <h1>Edit Profile</h1>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.UserId)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
       <div class="editor-field">
        @Html.TextBoxFor(model => model.UserName,new { @class = "TXT" , placeholder = "User Name" })
                    <br />
        @Html.ValidationMessageFor(model => model.UserName)
      </div>     
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email,new { @class = "TXT" , placeholder = "Email" })
                        <br />
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FirstName,new { @class = "TXT" , placeholder = "First Name" })
                        <br />
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LastName,new { @class = "TXT" , placeholder = "Last Name" })
                        <br />
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Gender", (IEnumerable<SelectListItem>)ViewBag.Gender,new { @class = "DDL" })
            <br />
            @Html.ValidationMessageFor(model => model.Gender)
        </div>
                <br />

        <p>
            <input type="submit" value="Save" class="btn btn-primary" />
        </p>
}
</div>

